body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: black;
    color: white;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding: 25px;
}


button{
    width:100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgba(46, 46, 46, 0.808);
}
button:active{
    background-color: hsla(0, 0%, 100%, 0.479);
}

.operatorbtn{
    background-color: rgba(212, 49, 8, 0.904);
}
.operatorbtn:hover{
    background-color: rgba(243, 93, 55, 0.904);
}
.operatorbtn:active{
    background-color: hsla(0, 0%, 100%, 0.479);
}