body{
    font-family: Arial, sans-serif;
    background-color: rgb(235, 234, 234);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherFrom{
    margin: 20px;
}
.cityinput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(24, 21, 21, 0.61);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(36, 243, 36, 0.795);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgb(38, 197, 38);
}
.card{
    background: linear-gradient(180deg, rgba(31, 31, 224, 0.555), rgba(238, 169, 42, 0.856));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.788);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.citydisplay, .tempdisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.753);
}
.humidity{
    font-weight: bold;
    margin-bottom: 25px;
}
.description{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.errordisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.699);
}