#container{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.6rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(88, 255, 241);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: rgb(13, 201, 185);

}
button:active{
    background-color: rgba(13, 201, 185, 0.466);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
    margin: 5px;
}