body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(180, 3%, 72%, 0.74);
}

#myH1{
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.774);
    text-shadow: 10cm;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border:5px solid;
    border-radius: 50px;
    background-color: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.877);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.76);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    cursor: pointer;
    color:white;
    transition: background-color 0.5s ease;
}
#startbtn{
    background-color: green;
    border-radius: 20px;
}

#startbtn:hover{
    background-color: rgba(18, 243, 18, 0.849);
}

#stopbtn{
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
}

#stopbtn:hover{
    background-color: rgba(247, 73, 73, 0.911);
}

#resetbtn{
    background-color: blue;
    border-radius: 20px;
}

#resetbtn:hover{
    background-color: rgba(106, 106, 255, 0.952);
}